<%= form_with(model: task, local: true) do |form| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% task.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title, Task.human_attribute_name(:title) %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :content, Task.human_attribute_name(:content) %>
    <%= form.text_area :content %>
  </div>

  <div class="actions">
    <%= form.submit id: (task.new_record? ? 'create-task' : 'update-task') %>
  </div>
<% end %>
